/* stylegrid */

.container-grid {
    display: grid;
    grid-template-areas: "item1-grid item1-grid" "item2-grid item3-grid";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item1-grid {
    grid-area: item1-grid;
    background-color: aqua;
}

.item2-grid {
    grid-area: item2-grid;
    background-color: brown;
}

.item3-grid {
    grid-area: item3-grid;
    background-color: cadetblue;
}

.grid-tamanhoitem1 {
    height: 120px;
}


/* stylemenu */

.menu a:hover {
    background-color: #C5C5C5;
}

.menu li:hover, .submenu {
    display: block;
    max-height: 200px;
}

.submenu a {
    background-color: #999;
}

.submenu a:hover {
    background-color: #665;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
*/

.layoutsubmenu {
    float: left;
}
